.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    margin-top:-15px;
}


.left{
    font-weight: bold;
    margin-left:150px;
}


.middle-part ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left:400px;
}


.middle-part a{
    text-decoration:none;
    color:black;
    font-size:14px;
}


.middle-part a:hover{
    color:gray;
}


.right{
    margin-right:120px;
    font-weight: bold;
}

.image {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}
.image img{
    width: 2000px;
    height: 500px;
    margin-top: -60px;
}
