
body{
    background-image:url(../images/thumb-1920-777478.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

.left h2{
    color:rgb(250, 129, 7);
    font-family:Arial, Helvetica, sans-serif; 
}
.left i{
    margin-top:27px;
}
 .left{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
 }
 .middle{
    display:flex;
    justify-content: center;
 }


.middle ul li {

    font-size: 20px;
    text-decoration: none;
    list-style:none;
}
ul {
    display:flex;   
    gap:30px;
} 
.button{
    width: 250px;
    height: 250px;
}