body{
    background-color:rgba(80, 80, 80, 0.91);
    display:flex;
    justify-content: center;
    align-items: center;
}


.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    width:380px;
    height: 750px;
    margin-bottom:18px;
    margin-left:30px;
}


.image{
    display: flex;
    justify-content: center;
    align-items: center;   
}
.image img{
    width: 200px;
    height: 200px;
    margin-top:30px;
    margin-left: 20px;
    border-radius: 50%;
}


.title{
    font-size: 30px;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}   
.desc{
    font-size: 18px;
    color:rgb(149, 145, 145);
    text-align: center;
    padding: 0 20px;
    margin-top:-30px;
}

.profession{
    margin-top:-15px;
   
}


.info{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    gap:35px;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;

}
.info p{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(149, 145, 145);
}
.info div , .info p{
    flex-direction:column;
}
.header{
    background: #efeded;
    width:100%;
    border-radius:20px 20px 0 0;
}

.main{
    background: white;
    width:100%;
    border-radius:0 0 20px 20px;
}
.plus-button{
    position:absolute;
    background-color: red;
    box-shadow: red 0px 0px 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top:40%;
    left:61.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.button{
    display:flex;
    background-color:rgba(37, 136, 113, 0.915) ;
    width:150px;
    justify-content: center;
    align-items: center;
    margin-left:30%;
    border-radius:20px;
    color: white; 
    transition: all 0.3s ease; 
    cursor: pointer;

}
.category{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
   
}



.button:hover {
    background-color: rgba(71, 92, 87, 0.915);
    box-shadow: rgba(121, 131, 129, 0.915) 0px 0px 15px;
    transform: translateY(-2px); 
}