.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    margin-top:-15px;
}


.left{
    font-weight: bold;
    margin-left:150px;
}


.middle-part ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left:400px;
}


.middle-part a{
    text-decoration:none;
    color:black;
    font-size:14px;
}


.middle-part a:hover{
    color:gray;
}


.right{
    margin-right:120px;
    font-weight: bold;
}


.image {
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}


.image img{
    width: 2000px;
    height: 400px;
    margin-top: -60px;
}


#box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

#boxes {
    display: flex;
    gap: 100px;
    /* justify-content:space-between; */
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


#element .title .icon {
    width: 80px;
    height: 80px;
    background-color: #007BFF; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-left:90px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}




.descr h3{
    color:#007BFF;
    font-family:Arial, Helvetica, sans-serif;
    margin-left:80px;
}


.descr p{
    max-width:270px;
    text-align:justify;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    line-height: 1.4;
}


/* Overlay */
.overlay {
    position: absolute;  
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.6); 
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;          
    transition: 0.4s ease;
    margin-top:-60px;
}

.overlay h1 {
    margin-top:50px;
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.overlay h4 {
    font-weight: normal;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    max-width:500px;
    justify-content: center;
    margin-left:500px;
    line-height: 1.7;
}


.image:hover .overlay {
    opacity: 1;
}