body{
    background-color:rgba(80, 80, 80, 0.91);
}


.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    background:linear-gradient(to bottom, #efeded 55%, white 45%);
    width:380px;
    height: 690px;
    margin-bottom:18px;
    margin-left:37%;
    border-radius:20px;
    position:relative;
}


.image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:240px;
    
  
}
.image img{
    width: 200px;
    height: 200px;
    margin-top:80px;
    margin-left: 20px;
    border-radius: 50%;
}


.title{
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-top:-220px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:30px;
}   
.desc{
    font-size: 18px;
    color:rgb(149, 145, 145);
    text-align: center;
    padding: 0 20px;
    margin-top:-30px;
}

.profession{
    margin-top:-15px;
   
}


.info{
    display:flex;
    margin-bottom:-50px;
    gap:30px;

}
.button{
    margin-top:100px;
}
